<% include partials/header.ejs%>

<section id="fh5co-work" data-section="User's Projects">
  <div class="gradient" style="z-index: -100"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2><%= user %>'s Programs</h2>
        <div class="row">
          <div class="col-md-12 subtext">
            <h3>Click on a program below to view it!</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-bottom-padded-sm">
      <!-- Displays the programs a user has uploaded -->
      <%if (programs) {%> 
        <% for(var p in programs) {%>
      <div class="col-md-4 col-sm-6 col-xxs-12">
        <a
          href="/viewer/<%= user %>/<%= programs[p].programName %>"
          class="fh5co-project-item image-popup"
        >
          <div class="fh5co-text">
            <h2><%= programs[p].programTitle %></h2>
            <span>Click to run this program!</span>
          </div>
        </a>
      </div>
        <% } %> 
      <% } %>
    </div>
  </div>
</section>

<% include partials/footer.ejs%>
