<%include partials/header.ejs%>
<!-- Search Page -->
<section id="fh5co-search" data-section="User's Projects">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 id="searchHeading"> Search Programs</h2>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 subtext">
            <h3 id="searchHeading"> Enter a username to find their shared programs</h3>
            <!-- Displays errors if no user exists with that username -->
            <% if (error) { %>
            <ul>
              <% error.forEach(function (error) { %>
              <div class="alert alert-danger">Error: <%= error.msg %></div>
              <% }) %>
            </ul>
            <%}%>
          </div>
        </div>
        
        <form method="POST" class="form-inline">
          <input class="form-control mr-sm-2" id="searchBar" type="search" name="username" placeholder="Search Username" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" id="searchButton" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</section>
<%include partials/footer.ejs%>