<%include partials/header.ejs%>
<!-- Main Section -->
<section id="fh5co-work">
  <div class="gradient" style="z-index: -1"></div>
  <div class="row">
    <div class="col-md-12 section-heading text-center">
      <h2>Upload Programs</h2>
      <div class="col-lg-6 col-lg-offset-3 text-center" id="uploadError">
        <!-- Displays uploaded errors -->
        <% if (error) { %>
        <ul>
          <% error.forEach(function (error) { %>
          <div class="alert alert-danger">Error:
            <%= error.msg %>
          </div>
          <% }) %>
        </ul>
        <%}%>
      </div>
    </div>
  </div>
  <!-- Upload form -->
  <div class="uploadContainer">
    <div class="uploadBackground">
      <form class="uploadForm" method="post" encType="multipart/form-data">
        <h3 class="uploadHeader">Enter a name for your project: </h3>
        <input class="text" type="text" name="progName" placeholder="Program Title" required=""/>
        <h3 class="uploadHeader">Select the main program file for your project: </h3>
        <input class="fileBtn" type="file" name="mainFile" required=""/>
        <h3 class="uploadHeader">Add additional support files for your project: </h3>
        <input class="fileBtn" type="file" name="supportFiles" multiple/>
        <input class="btn btn-lg btn-primary submitBtn" type="submit" value="Upload" />
      </form>
    </div>
  </div>
</section>
<%include partials/footer.ejs%>